.start-page
  .explanation
    OpenUp NYC is the fast, simple way to requset these records
    from the correct NYC department. Pick which department to send your request
    to, fill in what you're looking for, and OpenUp NYC will contact the
    right person for you.
  .steps
    .easy Easy As
    .step
      1
    .step
      2
    .step
      3
  
.get-started
  .total-requests 12,054 requests submitted. Yours is up next.
  .link
    .text Get Started.
    .triangle
    
.step1
  .inner
    .step-header
      .step-number 1
      .step-question What would you like to ask?
      
    .main
      .request-form-fields
        %label From which city agency are you requesting information?
        %select
          %option Adlsadjflsdfk jasjdf lsakdjfa
      




.step2
  .inner
    .step-header
      .step-number 2
      .step-question What info are you looking for?
      
    .main
      .tips
        .tips-header Tips of the Trade
        .tips-content 
          Ex nulla mollit sriracha, mcsweeney's eiusmod adipisicing terry richardson fap banh mi nisi mlkshk laboris. Retro keytar semiotics carles, blog authentic wes anderson. Ethical ea fingerstache laborum exercitation aesthetic dolore banksy, godard biodiesel raw denim. Brooklyn lo-fi dreamcatcher, delectus nesciunt portland pinterest post-ironic ethnic.
          
      .request-form-fields
        %label What is your request concerning?
        %input{type: "text"}
        %label What is your request?
        %textarea
        
      .next-section
        .text Almost Done...
        .triangle
        
    .sidebar
      .badge For Example
      
      .tips-header Good
      .tips-content 
        Ex nulla mollit sriracha, mcsweeney's eiusmod adipisicing terry richardson fap banh mi nisi mlkshk laboris. Retro keytar semiotics carles, blog authentic wes anderson. 
    
      .tips-header Not so good
      .tips-content 
        Ex nulla mollit sriracha, mcsweeney's eiusmod adipisicing terry richardson fap banh mi nisi mlkshk laboris. Retro keytar semiotics carles, blog authentic wes anderson. 
        
      .still-curious Still curious? Read FAQs on getting your requests answered.
    
    .clearfix    
        