%h3 Previous Requests


%div{:id => "piechart"}
%div{:id => "barchart"}

  
%table
  %tr
    %th Id
    %th Response Key
    %th Subject
    %th Status
  
  - @requests.each do |request|
    %tr
      %td= request.id
      /%td= request.response_key
      %td= link_to request.subject, request
      %td= request.status