.container
  .six
    %p People just like you are requesting information all over the city. 

    %p Take a peak at what kinds of requests your fellow New Yorkers have made, and how your city agencies are responding
  .six
    %div{:id => "piechart"}
    %div{:id => "barchart"}

  .six 
    %h3 View Request Requests



      
    %table
      %tr
        %th Id
        %th Response Key
        %th Subject
        %th Status
      
      - @requests.each do |request|
        %tr
          %td= request.id
          %td= request.response_key
          %td= link_to request.subject, request
          %td= request.status