@font-face { font-family: Fjord; src: url('/assets/fonts/Fjord.ttf'); } 
@font-face { font-family: Arvil; src: url('/assets/fonts/Arvil.ttf'); } 
@font-face { font-family: Ostrich Sans; src: url('/assets/fonts/Ostrich.ttf'); } 

body {
    margin: 0;
    color: #444;
    font-family: 'Fjord';
    margin-top: 155px;
}

.clearfix {
    clear: both;
}


.header {
    background: url('/assets/yellowstripe.png');
    height: 155px;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 25px rgba(108, 112, 103, 0.55);
    z-index: 1000;
    
    
    .header-inner {
        text-align: center;
        
        div {
            display: inline-block;
        }
        
        .logo {
            padding: 25px 60px 0 60px;
        }
        
        .submit-request, .track-request {
            
            width: 285px;
            vertical-align: top;
            padding-top: 55px;
            
            .yellow-lines {
                width: 100%;
                height: 3px;
                border-width: 1px 0;
                border-style: solid;
                border-color: #E5E53C;
                margin-bottom: 30px;
            }
            
            a {
                color: #00A99D;
                font-family: 'Arvil', sans-serif;
                font-size: 30px;
                text-decoration: none;
                -webkit-transition: color 0.1s linear;
                   -moz-transition: color 0.1s linear;
                    -ie-transition: color 0.1s linear;
                
                &:hover {
                    color: #025B52;
                }
            }
        }
    }
}

.start-page {
    background-color: #E5E53C;
    -webkit-box-shadow: inset 0 0 55px rgba(108, 112, 103, 0.55);
    
    .explanation {
        width: 470px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        padding-top: 60px;
        
    }
    
    .steps {
        text-align: center;
        padding: 40px 0 35px;
        
        .easy {
            text-transform: uppercase;
            font-family: 'Ostrich Sans';
            font-size: 22px;
            padding-bottom: 10px;
        }
        
        .step {
            background-color: #00A99D;
            width: 52px;
            height: 52px;
            padding: 2px 0 0 2px;
            border-radius: 27px;
            color: #E6E6E6;
            font-size: 40px;
            font-family: 'Ostrich Sans';
            font-weight: bold;
            text-align: center;
            line-height: 54px;
            display: inline-block;
            margin: 0 4px;
            cursor: pointer;
            -webkit-transition: background-color 0.1s linear;
               -moz-transition: background-color 0.1s linear;
                -ie-transition: background-color 0.1s linear;
            
            
            &:hover {
                background-color: #025B52;
            }
        }
    }
}

.get-started {
    background: url('/assets/yellowstripe.png');
    height: 140px;
    padding-top: 35px;
    text-align: center;
    
    .total-requests {
        color: #025B52;
        padding-bottom: 12px;
    }
    
    .link {
        cursor: pointer;
        width: 150px;
        margin: 0 auto;

        .text {
            font-family: 'Arvil';
            font-size: 30px;
            color: #00A99D;
            padding-bottom: 10px;
            -webkit-transition: color 0.1s linear;
               -moz-transition: color 0.1s linear;
                -ie-transition: color 0.1s linear;
        }
        
        .triangle {
            margin: 0 auto;
            width: 0;
            height: 0;
            border-left: 26px solid transparent;
            border-right: 26px solid transparent;
            border-top: 26px solid #CC3333;
            -webkit-transition: border-top-color 0.1s linear;
               -moz-transition: border-top-color 0.1s linear;
                -ie-transition: border-top-color 0.1s linear;

        }
        
        &:hover {
            .text { color: #025B52; }
            
            .triangle {
                border-top-color: #990000;                
            }
        }
        
        
    }
    
}

.request-form-fields {
    padding-top: 20px;
    
    label {
        color: #E6E6E6;
        font-size: 14px;
        display: block;
    }
    
    select {
        width: 100%;
    }
    
    input[type="text"] {
        width: 100%;
        outline: 0;
        border: 0;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        margin: 5px 0 25px;
    }
    
    textarea {
        width: 100%;
        height: 150px;
        outline: 0;
        border: 0;
        line-height: 30px;
        font-size: 20px;
        margin: 5px 0 25px;
    }
    
}



.step1 {
    background-color: #00A99D;
    -webkit-box-shadow: inset 0 0 55px rgba(108, 112, 103, 0.55);
    padding-bottom: 40px;
    
    .inner {
        width: 600px;
        margin: 0 auto;
        padding-top: 40px;
        
        .step-header {
            .step-number {
                background-color: #CC3333;
                width: 96px;
                height: 96px;
                padding: 4px 0 0 4px;
                border-radius: 50px;
                color: #E6E6E6;
                font-size: 70px;
                font-family: 'Ostrich Sans';
                font-weight: bold;
                text-align: center;
                line-height: 100px;
                float: left;
                margin: 0 4px;    
            }
            
            .step-question {
                margin-left: 135px;
                font-size: 30px;
                font-weight: bold;
                line-height: 100px;
            }
        }
        
    }
    
}

.step2 {
    background-color: #00A99D;
    -webkit-box-shadow: inset 0 0 55px rgba(108, 112, 103, 0.55);
    padding-bottom: 40px;
    
    .inner {
        width: 600px;
        margin: 0 auto;
        padding-top: 40px;
        
        .step-header {
            .step-number {
                background-color: #CC3333;
                width: 96px;
                height: 96px;
                padding: 4px 0 0 4px;
                border-radius: 50px;
                color: #E6E6E6;
                font-size: 70px;
                font-family: 'Ostrich Sans';
                font-weight: bold;
                text-align: center;
                line-height: 100px;
                float: left;
                margin: 0 4px;    
            }
            
            .step-question {
                margin-left: 135px;
                font-size: 30px;
                font-weight: bold;
                line-height: 100px;
            }
        }
        
        .main {
            float: left;
            width: 380px;
            margin-top: 50px;
            
            .tips {
                .tips-header {
                    font-family: 'Arvil', sans-serif;
                    font-size: 30px;
                    color: #025B52;
                    margin-bottom: 15px;
                }
                
                .tips-content {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
       
            .next-section {
                float: right;
                cursor: pointer;
                margin-right: -15px;

                .text {
                    font-family: 'Arvil';
                    font-size: 30px;
                    color: #025B52;
                    padding-bottom: 10px;
                    text-align: center;
                    -webkit-transition: color 0.1s linear;
                       -moz-transition: color 0.1s linear;
                        -ie-transition: color 0.1s linear;
                }

                .triangle {
                    margin: 0 auto;
                    width: 0;
                    height: 0;
                    border-left: 26px solid transparent;
                    border-right: 26px solid transparent;
                    border-top: 26px solid #025B52;
                    -webkit-transition: border-top-color 0.1s linear;
                       -moz-transition: border-top-color 0.1s linear;
                        -ie-transition: border-top-color 0.1s linear;

                }


            }
       
        }
        
        .sidebar {
            margin-top: 50px;
            width: 140px;
            margin-left: 420px;
            background: rgba(229, 229, 60, 0.7);
            position: relative;
            padding: 13px 20px;
            
            .badge {
                width: 78px;
                height: 60px;
                background-color: #E5E53C;
                position: absolute;
                top: -60px;
                right: 10px;
                border-radius: 39px;
                font-family: 'Ostrich Sans', sans-serif;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                padding-top: 18px;
            }
            
            .tips-header {
                color: #E6E6E6;
                font-family: 'Ostrich Sans', sans-serif;
                font-weight: bold;
                font-size: 26px;
            }
            
            .tips-content {
                color: #025B52;
                font-size: 14px;
                line-height: 20px;
                padding: 10px 0 30px 0;
            }
            
            .still-curious {
                font-family: 'Ostrich Sans', sans-serif;
                font-size: 20px;
            }
        }
    }
    
}