/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require layout
 *= require skeleton
 *= require_tree .
 */


header{
	position: fixed;
	background: 
	white;
	z-index: 1;
}

.container {
	margin-top: 100px;
	position: absolute;
}

.nav{
	font-family: 'Arvil Sans';
	font-size: 30px;
	font-color: #534741;
}




h1{ 
	font-family: 'VeveyRegular';
	font-size: 50px;
	font-color: #1A1A1A;
}


h2{
	font-family: 'Ostrich Sans';
	font-size: 24px;
}

h3{
	font-family: 'Arvil Sans';
	font-size: 27px;
}