.requests-index{

  body.request{
    #piechart{
      z-index: 1;
    }
  }

  .show-requests{
    header{
      border-bottom: 1px solid black;
    }

  }

  .overview{
    width: 960px; 
    margin:0 auto; 
    padding-top: 50px
  }


  .requests{
    background-color: #f9f1d2;
    font-family: 'Fjord';
  }

  .description{
    float: left;
    font-size: 115%;
    margin-left: 5%;
    margin-top: 20px;
    text-align: right;
    width: 245px;  
  }

  .list{
    background-color: white; 
    width: 960px; 
    margin:0 auto;
  }

  .overview::after{
    content: "";
    display: block;
    height: 30px;
    background-color: #e8e1c3;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e8e1c3), to(#f9f1d2));
    background-image: -webkit-linear-gradient(bottom, #e8e1c3, #f9f1d2);
    background-image: -moz-linear-gradient(bottom, #e8e1c3, #f9f1d2);
    background-image: -o-linear-gradient(bottom, #e8e1c3, #f9f1d2);
    background-image: linear-gradient(to top, #e8e1c3, #f9f1d2);

  }
  .list::before{
    content: "";
    display: block;
    height: 30px;
    background-color: #EEE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #EEE, #FFFFFF);
    background-image: -moz-linear-gradient(top, #EEE, #FFFFFF);
    background-image: -o-linear-gradient(top, #EEE, #FFFFFF);
    background-image: linear-gradient(to bottom, #EEE, #FFFFFF); 
  }

  input[type=text]{
    border: 1px solid #aaa;
    padding: 0;
    margin: 0;
    box-shadow: none;
    font-size: 110%;
    padding: 2px;
  }

  .keyword-search{
    color: #025B52;
    padding-right: 40px;
    text-align: right;
    text-transform: uppercase;    
  }

  .request-table{
    
    table{
      width: 90%;
      margin: 0 auto;
      tr{
        td::first{
          width: 200px;
        }
      }
    }

    .requests-index .circles{
      padding: 0;
    }


  }

  .histogram{
    float: right;
    margin-top: 5px;
    width: 500px;  

    p{
      color: #286b64;
      font-weight: bold;
      text-align: right;
      font-size: 95%;
    }

    .label{
      width: 200px; 
      float: left;
      text-transform: uppercase;
      padding: 2px 0px;
    }

    .bar{
      width: 300px; 
      position: relative; 
      float: left;
      box-shadow: inset 3px 3px 3px #aaa;

      .pending{
        height: 25px; 
        float: left;  
        width: 50%; 
        background-color: #d8df21;
      }
      .fulfilled{
        height: 25px; 
        float: left; 
        width: 30%; 
        background-color: #00a79b;
      }
      .approved{
        height: 25px;  
        float: left; 
        width: 20%; 
        background-color: #bf272d;
      }

    }

  }



  .pie-chart{
    clear: both !important;
    height: 400px;
    margin-top: 0;
    position: relative;
    #piechart{
      left: 160px;
      position: absolute;
      top: -80px;
    }
  }


  footer{
      background: url("/assets/yellowstripe.png") repeat scroll 0 0 transparent;
      height: 155px;
      min-width: 900px;
      width: 100%;
      z-index: 1000;  
  }
}



.view-requests{
  
  width: 960px; 
  margin: 0 auto;

  .left{
    width: 100px;
    float: left;
  }

  .right{
    width: 800px;
    float: right;
  }
}

