%header.header
  .header-inner
    .submit-request
      .yellow-lines
      = link_to 'Submit Request', new_request_path
    .logo
      =image_tag 'logo.png'
    .track-request
      .yellow-lines
      = link_to 'Track Request', requests_path
